.button {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: $color-default-white;
  background-color: $color-amulet;
  border: 1px solid $color-amulet;
  border-radius: 78px;
  padding: 30px 60px 30px 32px ;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition:
    color $trans-default,
    background-color $trans-default;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 3px;
  }

  svg {
    position: absolute;
    top: 0;
    right: 21px;
    bottom: 0;
    left: auto;
    margin: auto 0;
    color: $color-default-white;
    transition:
      color $trans-default,
      transform $trans-default;
    stroke-width: 1px;
  }

  @include vp-1199 {
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 12px;
  }

  @include hover-focus {
    background-color: $color-xanadu;
    color: $color-default-white;

    svg {
      color: $color-cerulean-blue;
      transform: rotate(-45deg);
    }
  }

  @include active {
    background-color: $color-amulet;
    color: rgba($color-default-white, 0.7);

    svg {
      transform: rotate(0deg);
      color: rgba($color-cerulean-blue, 0.7);
    }
  }

  @include disabled {
    pointer-events: none;
    border-color: $color-cerulean-blue;
    color: $color-cerulean-blue;
  }
}
