.gallery__slider {
  border: 4px solid $color-amulet;
  border-radius: 60px;
  width: 794px;
  height: 620px;

  @include vp-1659 {
    border: 3px solid $color-amulet;
    width: 557px;
    height: 435px;
  }

  @include vp-1279 {
    width: 424px;
    height: 331px;
  }

  @include vp-767 {
    width: 100%;
    height: auto;

    img {
      height: 100%;
    }
  }
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__next {
  top: 40%;
  margin-left: 32px;

  svg {
    right: -4px;
  }

  @include vp-1659 {
    top: 170px;
  }

  @include vp-1279 {
    top: 40%;
  }

  @include vp-929 {
    margin-left: 5px;
  }

  @include vp-859 {
    position: absolute;
    z-index: 1;
    margin-left: 0;
    right: 12%;
  }

  @include vp-767 {
    position: relative;
    order: 3;
    margin: 0;
    right: 0;
  }
}

.gallery__prev {
  top: 40%;
  margin-right: 32px;

  svg {
    left: -2px;
  }

  @include vp-1659 {
    top: 170px;
  }

  @include vp-1279 {
    top: 40%;
  }

  @include vp-929 {
    margin-right: 5px;
  }

  @include vp-859 {
    margin-right: 2px;
  }

  @include vp-767 {
    order: 2;
    margin: 0;
  }
}

